<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am Rareş, a self-motivated student passionate about game development with a drive towards research. 
          Voxel engines and everything regarding real-time ray tracing are my favorite topics to study and work with.</p>
      </div>
      <div class="col-lg-4">
        <h4>Programming skills</h4>
        <ul>
          <li>C/C++</li>
          <li>C#</li>
          <li>GLSL</li>
          <li>OpenCL</li>
          <li>JavaScript</li>
          <li>Lua</li>
        </ul>
        <h4>Domain knowledge</h4>
        <ul>
          <li>Ray tracing | Path tracing | Ray marching</li>
          <li>Voxel engines</li>
          <li>Unreal Engine | Unity </li>
          <li>Backend & Frontend engine development</li>
          <li>Web development</li>

        </ul>
      </div>
    </div>
  </div>
</section>
